<main class="vh-100" *ngIf="!showSetup">
    <div class="container-full h-100">
        <div class="d-flex flex-column h-100">
            <div class="top flex-grow-1">
                <div class="row align-items-stretch h-100">
                    <div class="col-6">
                        <div class="bg-primary h-100"></div>
                    </div>
                    <div class="col-6">
                        <div class="bg-secondary h-100"></div>
                    </div>
                </div>
            </div>
            <div class="bottom flex-grow-1">
                <div class="row align-items-stretch h-100">
                    <div class="col-8">
                        <div class="h-100">
                            <app-weather></app-weather>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="bg-success h-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<app-settings *ngIf="showSetup"></app-settings>